
<style>
    .css{
       font-family:helvetica;
        text-transform:uppercase;
        font-weight: bold;
    }  

   </style>
   <%- include("./partials/navbar"); %>
   <%- include("./partials/postscss"); %>
   <div class="container">
    <div class="row">
     
         <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
         <script>   $().ready(function(){
            $('[rel="tooltip"]').tooltip();
    
        });
    
        function rotateCard(btn){
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if($card.hasClass('hover')){
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }</script>
<!-- snipp1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9155049400353686"
     data-ad-slot="4807425052"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
   <% expbycompany.forEach(exps => { %>
       
           <% if(exps.approved) {%>

            <div class="col-md-4 col-sm-6">
              <div class="card-container">
                 <div class="card">
                     <div class="front">
                         <div class="cover">
                             <img src="https://image.shutterstock.com/image-photo/mountain-green-valley-river-creek-260nw-1687137475.jpg"/>
                         </div>
                         <div class="user">
                             <img class="img-circle" src="/public/uploads/<%= exps.img %>"/>
                         </div>
                           
                         <div class="content">
                             <div class="main">
                                 <h3 class="name"><%= exps.name %></h3>
                                 <p class="profession">CEO</p>
                                 <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                             </div>
                             <div class="footer">
                                 <i class="fa fa-mail-forward"></i>
                             </div>
                         </div>
                     </div> <!-- end front panel -->
                     <div class="back">
                         <div class="header">
                             <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                         </div>
                         <div class="content">
                             <div class="main">
                                 <h4 class="text-center">Job Description</h4>
                                 <p class="text-center"><%- exps.exp %></p>
 
                                 <div class="stats-container">
                                     <div class="stats">
                                         <h4>235</h4>
                                         <p>
                                             Followers
                                         </p>
                                     </div>
                                     <div class="stats">
                                         <h4>114</h4>
                                         <p>
                                             Following
                                         </p>
                                     </div>
                                     <div class="stats">
                                         <h4>35</h4>
                                         <p>
                                             Projects
                                         </p>
                                     </div>
                                 </div>
 
                             </div>
                         </div>
                         <div class="footer">
                             <div class="social-links text-center">
                                 <a href="http://deepak646.blogspot.in/" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                 <a href="http://deepak646.blogspot.in/" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                 <a href="http://deepak646.blogspot.in/" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                             </div>
                         </div>
                     </div> <!-- end back panel -->
                 </div> <!-- end card -->
             </div> <!-- end card-container -->
         </div>
           



        
              
              
           <% } %>
       
   
       
   
   <%})%>
   </div>
  </div>
   
   
   