<!DOCTYPE html>
<html>
<head>
	<title>Sliding Login Form</title>
	<%- include ("./partials/styles"); %>
	
</head>
<body>
    <%- include ("./partials/messages"); %>
	<div class="container" id="main">
		
        <div class="sign-in">
			<form action="/users/login" method="POST">
				<h1>Sign in</h1>
				<p>Please Sign In to get Access</p>
				
				
				<input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
				<br>
				<button>Sign In</button>
				
			</form>
		</div>
        <div class="sign-up">
            
			<form action="/users/register" method="POST">
				<h1>Create Account</h1>
				
				
				<input
				type="name"
				id="name"
				name="name"
				class="form-control"
				placeholder="Enter Name"
				value="<%= typeof name != 'undefined' ? name : '' %>"
			  />
			
			  <input
				type="email"
				id="email"
				name="email"
				class="form-control"
				placeholder="Enter Email"
				value="<%= typeof email != 'undefined' ? email : '' %>"
			  />
			
			  <input
				type="password"
				id="password"
				name="password"
				class="form-control"
				placeholder="Create Password"
				value="<%= typeof password != 'undefined' ? password : '' %>"
			  />
			
			  <input
				type="password"
				id="password2"
				name="password2"
				class="form-control"
				placeholder="Confirm Password"
				value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
			  />
				<button>Sign Up</button>
			</form>
		</div>
		
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-left">
					<h1>Wellcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button id="signIn">Sign In</button>
				</div>
				<div class="overlay-right">
					<h1>Hello, Friend</h1>
					<p>Enter your personal details and start journey with us</p>
					<button id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		const signUpButton = document.getElementById('signUp');
		const signInButton = document.getElementById('signIn');
		const main = document.getElementById('main');

		signUpButton.addEventListener('click', () => {
			main.classList.add("right-panel-active");
		});
		signInButton.addEventListener('click', () => {
			main.classList.remove("right-panel-active");
		});
	</script>
</body>
</html>